

.mod_twoclickcontent_overlay {
	background-color:rgba(255,255,255,0.7);
	color:#333;
	width:66%;
	margin:1em auto;	
	padding:1em;
	font-size:85%;	
}

.mod_twoclickcontent_overlay_content {
	
	
}

.mod_twoclickconent_confirm {
	text-align:center;	
}

.mod_twoclickcontent_button {
	margin: 0.5em 0;
	border:1px solid #333;
}